{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block search %}{% endblock %}

{% block body %}

    <h1>Inscription</h1>

    {{ form_start(form) }}

    <div class="input-field">
        {{ form_label(form.username, "Nom d\'utilisateur") }}
        {% if form_errors(form.username) %}
            <div class="input-errors">
                {{ form_errors(form.username) }}
            </div>
        {% endif %}
        {{ form_widget(form.username, {'attr': {'placeholder': 'marie'}}) }}
    </div>

    <div class="input-field">
        {{ form_label(form.email, "Adresse email") }}
        {% if form_errors(form.email) %}
            <div class="input-errors">
                {{ form_errors(form.email) }}
            </div>
        {% endif %}
        {{ form_widget(form.email, {'attr': {'placeholder': 'marie@email.com'}}) }}
    </div>

    <div class="input-field">
        {{ form_label(form.password, "Mot de passe") }}
        {% if form_errors(form.password) %}
            <div class="input-errors">
                {{ form_errors(form.password) }}
            </div>
        {% endif %}
        {{ form_widget(form.password, {'attr': {'placeholder': '••••••••••••'}}) }}
    </div>

    <div class="input-field">
        {{ form_label(form.confirmPassword, "Confirmation du mot de passe") }}
        {% if form_errors(form.confirmPassword) %}
            <div class="input-errors">
                {{ form_errors(form.confirmPassword) }}
            </div>
        {% endif %}
        {{ form_widget(form.confirmPassword, {'attr': {'placeholder': '••••••••••••'}}) }}
    </div>

    <input type="submit" value="S'inscrire">

    {{ form_end(form) }}


{% endblock %}
