{% extends 'base.html.twig' %}

{% block title %}Administration - Liste des catégories{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/admin.css") }}">
{% endblock %}

{% block body %}

<h1>Liste des catégories</h1>

<section class="list">
    {% if categorys is empty %}
        <p>Vous n'avez encore créer une catégorie.</p>
        <a href="{{ path("category.create") }}" class="btn">Créer une catégorie</a>
    {% else %}
    <ul>
        {% for category in categorys %}
        <li>
            <img src="{{ asset( 'img/' ~ category.icon) }}" alt="{{ category.name }}" />
            <p>{{ category.name }}</p>
            <a href="#"><i class="icon-pencil"></i></a>
            <a href="#"><i class="icon-trash"></i></a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</section>

{% endblock %}
