{% extends 'base.html.twig' %}

{% block title %}Nos
	{{ category.name | lower }}
{% endblock %}

{% block body %}

	<h1>Nos
		{{ category.name | lower }}</h1>

	<section class="produits">

		{% if products is empty %}
			<p>Nous n'avons encore aucun produit pour cette catégorie pour le moment, repassez plus tard</p>
		{% endif %}

		<div class="grid">
			{% for product in products %}
				<article>
					<a href="{{ path('product.view', {'categorySlug': category.slug, 'productSlug': product.slug }) }}">
						<img src="{{ vich_uploader_asset(product, 'imageFile') | imagine_filter('thumb') }}" alt="{{ product.name }}"/>
						<div>
							<p>{{ product.name }}</p>
							<a href="{{ path('cart.add', {'id': product.id}) }}" class="btn">Ajouter au panier</a>
						</div>
					</a>
				</article>
			{% endfor %}
		</div>

	</section>

{% endblock %}
