{% extends 'base.html.twig' %}

{% block title %}{{ produit.nom }}{% endblock %}

{% block body %}


    <nav class="fil-ariane">
        <a href="{{ path('home') }}">TakeFood</a> >
        <a href="{{ path('categorie.index') }}">Nos produits</a> > 
        <a href="{{ path('categorie.view', {'slug': categorie.slug}) }}">Nos {{ categorie.nom | lower }}</a> >
        <a href="{{ path('produit.view', {'categorieSlug': categorie.slug, 'produitSlug': produit.slug}) }}">{{ produit.nom }}</a>
    </nav>

    <h1>{{ produit.nom }}</h1>
    <hr />
    
    <article>
        <img src="{{ asset( 'img/' ~ produit.image) }}" alt="{{ produit.nom }}" />
        <p>Prix : {{ produit.prix }}</p>
        <p>{{ produit.description }}</p>

    </article>


{% endblock %}
