{% extends 'base.html.twig' %}

{% block title %}Administration - Liste des produits{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/admin.css") }}">
{% endblock %}

{% block body %}

<h1>Liste des produits</h1>

<section class="list">
    {% if products is empty %}
        <p>Vous n'avez encore créé de produit.</p>
        <a href="{{ path('admin.product.create') }}" class="btn">Créer un produit</a>
    {% else %}
    <a href="{{ path('admin.product.create') }}" class="btn">Créer un produit</a>
    <ul>
        {% for product in products %}
        <li>
            <div>
                <img src="{{ vich_uploader_asset(product, 'imageFile') | imagine_filter('icon') }}" alt="{{ product.name }}" />
                <p>{{ product.name }}</p>
            </div>
            <div>
                <p class="info">{{ product.category.name }}</p>
                <a href="{{ path('admin.product.edit', {'categorySlug': product.category.slug, 'productSlug': product.slug}) }}"><i class="icon-pencil"></i></a>
                <a href="{{ path('admin.product.delete', {'categorySlug': product.category.slug, 'productSlug': product.slug}) }}"><i class="icon-trash"></i></a>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</section>

{% endblock %}
