{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}

    <h1>{{ product.name }}</h1>
    
    <article>
        <img src="{{ vich_uploader_asset(product, 'imageFile') | imagine_filter('thumb') }}" alt="{{ product.name }}" />
        <p>Prix : {{ product.price }}</p>
        <p>{{ product.description }}</p>
        <a href="{{ path('cart.add', {'id': product.id}) }}" class="btn">Ajouter au panier</a>
    </article>
{% endblock %}
