{% extends 'base.html.twig' %}

{% block title %}Nos produits{% endblock %}

{% block body %}


<nav class="fil-ariane">
    <a href="{{ path('home') }}">TakeFood</a> > <a href="{{ path('categorie.index') }}">Nos produits</a>
</nav>

<h1>Nos produits</h1>
<hr>

<section class="produits">


    {% if categories is empty %}
        <p>Nous n'avons encore aucune catégorie de produits pour le moment, repassez plus tard</p>
    {% endif %}

    {% for categorie in categories %}
    <article>
        <a href="{{ path('categorie.view', {'slug': categorie.slug}) }}">
            <img src="{{ asset( 'img/' ~ categorie.image) }}" alt="{{ categorie.nom }}" />
            <p>{{ categorie.nom }}</p>
        </a>
    </article>
    {% endfor %}

</section>

{% endblock %}
