<noscript>
    <div>
        <p>Vous devez activer JavaScript pour utiliser ce site.</p>
    </div>
</noscript>

<header>
    <div class="left">
        <div>
            <a href="{{ path('home') }}">
                <i class="icon-logo"></i> TakeFood
            </a>
        </div>
        <label for="menu-header"><i class="icon-menu"></i></label>
        <input id="menu-header" type="checkbox" />
        <nav>
            <a href="{{ path('home') }}">Accueil</a>
            <a href="{{ path('category.index') }}">Nos produits</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin') }}">Administration</a>
            {% endif %}
        </nav>
    </div>
    <div class="right">
        <div>
            <a href="{{ path('user.profile') }}" aria-label="Profil"><i class="icon-user"></i></a>
            <a href="{{ path('cart.view') }}" aria-label="Panier"><i class="icon-shop"></i></a>
        </div>
    </div>
</header>