<noscript>
	<div>
		<p>Vous devez activer JavaScript pour utiliser ce site.</p>
	</div>
</noscript>

<header>
	<div class="left">
		<div>
			<a href="{{ path('home') }}">
				<i class="fas fa-utensils"></i>
				TakeFood
			</a>
		</div>
		<label for="menu-header">
			<i class="fas fa-bars"></i>
		</label>

		<input id="menu-header" type="checkbox"/>
		<nav>
			<a href="{{ path('home') }}">Accueil</a>
			<a href="{{ path('category.index') }}">Nos produits</a>
			{% if is_granted('ROLE_ADMIN') %}
				<a href="{{ path('admin') }}">Administration</a>
			{% endif %}
		</nav>
	</div>
	<div class="right">
		<div>
			<a href="{{ path('user.profile') }}" aria-label="Profil"><i class="fas fa-user"></i></a>
			<a href="{{ path('cart.view') }}" aria-label="Panier"><i class="fas fa-shopping-bag"></i></a>
		</div>
	</div>
</header>
