<div class="user-profile">
    {% if not app.user %}
    <div class="nav-user">
        <a href="{{ path("security.register") }}">Inscription</a>
        <a href="{{ path("security.login") }}">Connexion</a>
    </div>
    {% else %}
    <div class="nav-user">
        <p><i class="icon-user"></i></p>
        <p>{{ app.user.username }}</a>
        <a href="{{ path("user.profile") }}">Mon profil</a>
        <a href="#">Mes commandes</a>
        <a href="{{ path("security.logout") }}" class="danger">Déconnexion</a>
    </div>
    {% endif %}
</div>